<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.TusFinancial.Credit">

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".JinDiaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 首页 -->
        <activity
            android:name=".main.ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Home">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <!-- 登录页面 -->
        <activity
            android:name=".loginRegister.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="login"
                    android:scheme="jindiao"/>

            </intent-filter>

        </activity>

        <!-- 注册页面 -->
        <activity
            android:name=".loginRegister.ui.activity.RegisterActivity"
            android:theme="@style/AppTheme.Login">

        </activity>

        <!-- 绑定手机 -->
        <activity
            android:name=".loginRegister.ui.activity.BindMobileActivity"
            android:theme="@style/AppTheme.Login">

        </activity>

        <!-- 忘记密码 -->
        <activity
            android:name=".loginRegister.ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.Login">

        </activity>

        <!-- 手机快捷登录 -->
        <activity
            android:name=".loginRegister.ui.activity.PhoneQuickLoginActivity"
            android:theme="@style/AppTheme.Login">

        </activity>

        <!-- 浏览器 -->
        <activity
            android:name=".browse.ui.activity.BrowseActivity"
            android:theme="@style/AppTheme.Login">

        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>